.interactive-product-showcase {
  width: 100%;
  padding: 10px; 
  background-color: #F5F5F5;

  @media screen and (min-width: 768px) {
    padding: 50px; 
  }
}

.interactive-product-showcase__title {
  text-align: center;
  font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
  font-size: 24px;
  color: #000000;

  @media screen and (min-width: 768px) {
    font-size: 32px; 
  }
}

.interactive-product-showcase__subtitle {
  text-align: center;
  font-weight: normal;
  font-size: 18px; 
  color: #333333;

  @media screen and (min-width: 768px) {
    font-size: 24px; 
  }
}

.interactive-product-showcase__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px; 
  }
}

.interactive-product-showcase__product {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

  @media screen and (min-width: 768px) {
    padding: 15px; 
  }
}

.interactive-product-showcase__product-image {
  width:100%;
  height: auto;
  object-fit: contain;

}

.interactive-product-showcase__product-name {
  font-size: 16px; 
  color:#000000;
 @media screen and (min-width: 768px) {
   font-size: 20px; 
  }
}

.interactive-product-showcase__product-description {
  font-size: 14px; 
  color:#333333;
 @media screen and (min-width: 768px) {
   font-size: 16px; 
  }
}

.interactive-product-showcase__product-price {
  font-size: 16px; 
  color:#000080;
 @media screen and (min-width: 768px) {
   font-size: 22px; 
  }
}

.interactive-product-showcase__add-to-cart {
  background-color:#008000;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.interactive-product-showcase__filter {
  text-align: right;
  margin-bottom: 20px; /* Adjust margin as needed */

  @media screen and (max-width: 767px) {
    text-align: left;
  }
}

.interactive-product-showcase__filter select,
.interactive-product-showcase__filter input[type="checkbox"] {
  font-size: 14px; 
  
  @media screen and (min-width: 768px) {
    font-size: 18px; 
  }
}

